<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <!-- <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script> -->
  <script src="./static/js/flexible.js"></script>
  <link rel="apple-touch-icon" href="./static/images/favicon.png">
  <link rel="Shortcut Icon" href="./static/images/favicon.png" type="image/x-icon">
  <title>CNode</title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
