@charset "UTF-8";
@import './common/common';
@import './common/transition';

/* 基础公用样式 */

* {
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blackColor;
  -webkit-overflow-scrolling: touch;
  background-color: $mainBgColor;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $whiteColor;
  overflow: hidden;
  overflow-y: auto;
  z-index: 0;
}

.page-group {
  position: relative;
  @extend .page
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

a {
  color: $linkColor;
}

// markdown
.markdown-text {
  font-size: 24px;
  line-height: 1.5;
  word-break: break-all;
  &>* {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 30px 0 15px;
  }
  h2 {
    font-weight: bold;
    margin: 30px 0 15px;
  }
  a {
    color: $linkColor;
  }
  li {
    list-style: initial;
    margin-left: 40px;
  }
  blockquote {
    padding-left: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #eee;
  }
  img {
    width: 100%;
  }
  pre.prettyprint {
    overflow: auto;
    background-color: darken($whiteColor, 2%);
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    tr {
      border-top: 1px solid darken($whiteColor, 10%);
      background-color: $whiteColor;
      &:nth-child(2n) {
        background-color: darken($whiteColor, 3%);
      }
      td,
      th {
        border: 1px solid darken($whiteColor, 10%);
        text-align: left;
        padding: 6px 13px
      }
    }
  }
}
