<template>
  <div class="page">
    <header>
      <h1>CNode</h1>
    </header>
    <section>
      <div class="content-block">
        <ul class="list-block">
          <li>
            <div class="item-content">
              <div class="title">项目版本</div>
              <div class="subtitle">{{version}}</div>
            </div>
          </li>
          <li>
            <a href="https://git.coding.net/drzorm/vue-cnode.git" class="item-content">
              <div class="title">项目主页</div>
              <div class="subtitle">https://git.coding.net/drzorm/vue-cnode.git</div>
            </a>
          </li>
          <li>
            <div class="item-content">
              <div class="title">关于项目</div>
              <div class="subtitle">
                基于
                <b>vue-cli</b>
                <b>vue2</b>
                <b>vue-router</b>
                <b>ES6</b>
                <b>scss</b>
                <b>flexbox</b>
                <br>界面布局借(chao)鉴(xi)CNode社区官方推荐安卓客户端
                <br>(<a href="https://github.com/TakWolf/CNode-Material-Design">https://github.com/TakWolf/CNode-Material-Design</a>)
              </div>
            </div>
          </li>
          <li>
            <a href="https://cnodejs.org" class="item-content">
              <div class="title">其他</div>
              <div class="subtitle">
                感谢CNodejs社区提供的API(https://cnodejs.org)
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      Copyright &copy;{{new Date().getFullYear()}} drzorm
    </footer>
  </div>
</template>

<script>
import CONFIG from '@/config'

export default {
  data() {
    return {
      version: CONFIG.VERSION
    }
  },
  mounted() {
  },
  methods: {
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.page {
  background-color: $mainBgColor;
}

header {
  $h: 200px;
  height: $h;
  background-color: $blackColor;
  text-align: center;
  h1 {
    font-size: 120px;
    color: rgba(255, 255, 255, .05);
  }
}

section {
  flex: 1;
}

footer {
  $h: 80px;
  height: $h;
  line-height: $h;
  text-align: center;
  color: $grayColor;
}

.content-block {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  .list-block {
    li {
      @include border();
      &:last-child:after {
        display: none;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .item-content {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
      background-color: $whiteColor;
      transition: background-color .2s ease;
      &:active {
        background-color: darken($whiteColor, 3%);
      }
      .title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .subtitle {
        color: $grayColor;
        a {
          color: inherit;
        }
        b {
          font-weight: normal;
          color: darken($grayColor, 10%);
        }
      }
    }
  }
}
</style>
