<template>
  <div class="page-group">
    <div class="page">
      <ul class="list">
        <li v-for="(item, index) in list" :key="index">
          <router-link :to="{path: `${$route.path}/${item.id}`, params: {topic: item}}">
            <div class="avatar">
              <img :src="item.author.avatar_url" alt="头像">
            </div>
            <div class="detail">
              <div class="title">
                <i v-if="item.top">置顶</i>
                <i v-else>{{item.tab | tabCovertToName}}</i>
                {{item.title}}
              </div>
              <div class="datetime">
                <span>{{item.create_at | formatDate}}</span>
                <span>
                  <b>{{item.reply_count}}</b>/{{item.visit_count}}</span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
      <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" spinner="bubbles">
        <span slot="no-results">-没有数据-</span>
        <span slot="no-more">-已经到底了-</span>
      </infinite-loading>
    </div>
    <transition name="zoom-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import { topic } from '@/api'

export default {
  data() {
    return {
      list: [],
      page: 1,
      limit: 40,
    }
  },
  mounted() {

  },
  methods: {
    infiniteHandler(state) {
      let _this = this
      let tab = this.$route.params.tab || 'all'
      topic.getTopics({ page: _this.page, limit: _this.limit, tab: tab, mdrender: false })
        .then(res => {
          if (res.success) {
            let list = res.data || []
            if (list.length) {
              _this.list = _this.list.concat(res.data)
              state.loaded()

              if (res.data.length < _this.limit) {
                state.complete()
                return
              }
              _this.page++
            }
            if (_this.page === 1 && list.length === 0) {
              state.complete()
            }
          } else {
            _this.$toast(res.error_msg)
          }
        })
        .catch(err => console.error(err))
    },
  },
  watch: {
    '$route': function(nv, ov) {
      // 监听路由变化, 如果是从话题详情页面返回则不做任何操作, 如果是切换话题列表类型则重新加载列表数据
      if (nv.params.tab === ov.params.tab) return
      this.list = []
      this.page = 1
      this.$nextTick(() => {
        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset')
      })
    }
  },
  components: {
    InfiniteLoading,
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.list {
  li {
    @include border();
    &:last-child::after {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      padding: 20px;
      text-decoration: none;
      transition: background-color .3s ease;
      &:active {
        background-color: darken($whiteColor, 3%);
      }
    }
  }
  .avatar {
    $h: 80px;
    width: $h;
    height: $h;
    border-radius: 50%;
    background-color: darken($whiteColor, 2%);
    overflow: hidden;
    img {
      width: $h;
      height: $h;
    }
  }
  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    .title {
      $h: 60px;
      height: $h;
      line-height: $h/2;
      margin-bottom: 10px;
      font-size: 24px;
      color: $blackColor;
      @include textOverflow(2);
      i {
        font-style: normal;
        font-size: 22px;
        color: $grayColor;
        padding-right: 3px;
      }
    }
    .datetime {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: $grayColor;
    }
  }
}
</style>
