<template>
  <div class="page">
    <header>
      <h1 @click="setDefaultAccesstoken">CNode</h1>
    </header>
    <section>
      <div class="login-block">
        <div class="login-input">
          <input type="text" v-model="accesstoken" :class="{error: !!errorMsg}" placeholder="Access Token:">
          <span class="error-tips">{{errorMsg}}</span>
        </div>
        <div class="login-button">
          <button class="button" @click="login">登录</button>
        </div>
        <div class="login-button buttons">
          <button class="button button-mini">扫码登录</button>
          <button class="button button-mini">GitHub登录</button>
        </div>
      </div>
      <div class="login-tips">
        <a href="#">如何获取Access Token?</a>
      </div>
    </section>
  </div>
</template>

<script>
import CONFIG from '@/config'
import { user } from '@/api'

export default {
  data() {
    return {
      accesstoken: '',
      errorMsg: '',
      url: this.$route.query.url
    }
  },
  created() {
    if (this.accesstoken) this.$router.back()
  },
  mounted() {
  },
  methods: {
    login() {
      let _this = this
      if (!this.accesstoken) {
        this.errorMsg = 'Access Token格式错误, 应为UUID'
        return
      }
      user.auth(this.accesstoken)
        .then(res => {
          if (res.success) {
            localStorage.setItem('USERINFO', JSON.stringify(res))
            localStorage.setItem('ACCESSTOKEN', this.accesstoken)
            _this.$parent.userinfo = res
            _this.url ? _this.$router.push(_this.url) : _this.$router.back()
          } else {
            _this.errorMsg = res.error_msg
          }
        })
        .catch(err => {
          console.error(err)
        })
    },
    setDefaultAccesstoken() {
      if (!!this.accesstoken) return
      this.accesstoken = '8150b43a-ecba-41f8-856c-f4549411031e'
    }
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.page {
  background-color: $mainBgColor;
}

header {
  $h: 200px;
  height: $h;
  background-color: $blackColor;
  text-align: center;
  h1 {
    font-size: 120px;
    color: rgba(255, 255, 255, .05);
  }
}

section {
  flex: 1;
}

.login-block {
  width: 100%;
  padding: 20px;
  background-color: $whiteColor;
  box-shadow: 0 0 10px rgba($blackColor, .3);
  .login-input {
    display: flex;
    flex-direction: column;
    input {
      height: 60px;
      border: none;
      border-bottom: 2px solid $blackColor;
      &.error {
        border-bottom-color: $redColor;
        &~.error-tips {
          display: block;
        }
      }
    }
    .error-tips {
      display: none;
      font-size: 18px;
      color: $redColor;
    }
  }
  .login-button {
    display: flex;
    margin: 20px 0;
    &.buttons {
      margin-left: -10px;
    }
    .button {
      $h: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $h;
      line-height: $h;
      background-color: $blackColor;
      color: $whiteColor;
      border: none;
      border-radius: 4px;
      transition: all .3s ease;
      &:active {
        background-color: lighten($blackColor, 10%);
      }
      &.button-mini {
        flex: 1;
        margin-left: 10px;
        background-color: transparent;
        color: $blackColor;
        &:active {
          background-color: darken($whiteColor, 5%);
        }
      }
    }
  }
}

.login-tips {
  $h: 80px;
  width: 100%;
  height: $h;
  line-height: $h;
  text-align: center;
  color: $grayColor;
}
</style>
