<template>
  <div class="page">
    <div class="message" v-if="messages && messages.hasnot_read_messages.length > 0">
      <div class="message-header">未读信息({{messages.hasnot_read_messages.length}})</div>
      <ul class="message-list">
        <li v-for="(item,index) in messages.hasnot_read_messages" :key="index">
          <div class="message-author">
            <div class="avatar">
              <img :src="item.author.avatar_url">
            </div>
            <div class="detail">
              <span>{{item.author.loginname}}</span>
              <span class="time">{{item.create_at | timeAgo}}</span>
            </div>
          </div>
          <div class="message-content" v-html="item.reply.content"></div>
          <div class="reply-topic">话题: {{item.topic.title}}</div>
        </li>
      </ul>
    </div>
    <div class="message" v-if="messages && messages.has_read_messages.length > 0">
      <div class="message-header">已读信息({{messages.has_read_messages.length}})</div>
      <ul class="message-list">
        <li v-for="(item,index) in messages.has_read_messages" :key="index">
          <div class="message-author">
            <div class="avatar">
              <img :src="item.author.avatar_url">
            </div>
            <div class="detail">
              <span>{{item.author.loginname}}</span>
              <span class="time">{{item.create_at | timeAgo}}</span>
            </div>
          </div>
          <div class="message-content" v-html="item.reply.content"></div>
          <div class="reply-topic">
            <router-link :to="`/topic/${item.topic.id}`">话题: {{item.topic.title}}</router-link>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { message } from '@/api'

export default {
  data() {
    return {
      accesstoken: localStorage.getItem('ACCESSTOKEN'),
      messages: {
        has_read_messages: [],
        hasnot_read_messages: []
      }
    }
  },
  mounted() {
    let _this = this
    if (!this.accesstoken) return
    message.messages(this.accesstoken)
      .then(res => {
        if (res.success) {
          _this.messages = res.data
        } else {
          _this.$toast(res.error_msg)
        }
      }).catch(err => {
        console.error(err.message)
      })
  },
  methods: {
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.page {
  background-color: $mainBgColor;
}

.message {
  // padding: 0 20px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  .message-header {
    font-size: 24px;
    padding: 20px;
    @include border();
  }
  .message-list {
    li {
      padding: 20px;
      @include border();
      transition: all .2s ease;
      &:active {
        background-color: darken($whiteColor, 3%);
      }
      &:last-child:after {
        display: none;
      }
    }
    .message-author {
      $h: 50px;
      display: flex;
      align-items: center;
      .avatar {
        width: $h;
        height: $h;
        img {
          width: $h;
          height: $h;
          border-radius: 50%;
        }
      }
      .detail {
        flex: 1;
        display: inline-flex;
        height: $h;
        line-height: $h;
        padding-left: 20px;
        overflow: hidden;
        span {
          flex: 3;
          &.time {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
    .message-content {
      margin-top: 10px;
    }
    .reply-topic {
      a {
        font-size: 24px;
        text-decoration: underline;
      }
    }
  }
}
</style>
