<template>
  <div class="page">
  </div>
</template>

<script>
import { topic } from '@/api'

export default {
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>

</style>
