<template>
  <div class="page">
    <loading v-show="loading"></loading>
    <div class="topic" v-if="topic.title">
      <div class="topic-header">
        <h3 class="title">{{topic.title}}</h3>
        <div class="publish" v-if="topic.author">
          <span class="time">{{topic.create_at | formatDate}}</span>
          <span>{{topic.author.loginname}}</span>
          <span>{{topic.reply_count}}/{{topic.visit_count}}</span>
        </div>
      </div>
      <div class="topic-content" v-html="topic.content"></div>

    </div>
    <div class="reply" v-if="topic.replies && topic.replies.length">
      <div class="reply-header">回复({{topic.replies.length}})</div>
      <ul class="reply-list">
        <li v-for="(item,index) in topic.replies" :key="index">
          <div class="reply-author">
            <div class="avatar">
              <img :src="item.author.avatar_url">
            </div>
            <div class="detail">
              <span>{{item.author.loginname}} · {{item.create_at | timeAgo}}</span>
              <span class="ups" :class="{is_uped: item.is_uped}">赞({{item.ups.length}})</span>
            </div>
          </div>
          <div class="reply-content" v-html="item.content"></div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Loading from '@/components/Loading.vue'
import { topic } from '@/api'

export default {
  data() {
    return {
      loading: true,
      id: this.$route.params.id,
      topic: {}, //话题信息
    }
  },
  mounted() {
    let _this = this
    if (this.$route.params.topic) {
      this.topic = this.$route.params.topic
      this.loading = false
    } else {
      if (!this.id) return
      topic.getTopic({ id: this.id })
        .then(res => {
          if (res.success) {
            _this.topic = res.data
          } else {
            _this.$toast(res.error_msg)
          }
          this.loading = false
        })
        .catch(err => console.error(err))
    }

  },
  methods: {

  },
  components: {
    InfiniteLoading,
    Loading,
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.page {
  position: absolute;
  background-color: $mainBgColor;
}

.topic {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  .topic-header {
    padding: 20px;
    .title {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.5;
    }
    .publish {
      display: flex;
      align-content: space-between;
      margin-top: 10px;
      font-size: 20px;
      color: $grayColor;
      span {
        flex: 1;
        text-align: center;
        &.time {
          flex: 2;
        }
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .topic-content {
    padding: 20px;
  }
}

.reply {
  // padding: 0 20px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  .reply-header {
    font-size: 24px;
    padding: 20px;
    @include border();
  }
  .reply-list {
    li {
      padding: 20px;
      @include border();
      transition: all .2s ease;
      &:active {
        background-color: darken($whiteColor, 3%);
      }
      &:last-child:after {
        display: none;
      }
    }
    .reply-author {
      $h: 50px;
      display: flex;
      align-items: center;
      .avatar {
        width: $h;
        height: $h;
        img {
          width: $h;
          height: $h;
          border-radius: 50%;
        }
      }
      .detail {
        flex: 1;
        display: inline-flex;
        height: $h;
        line-height: $h;
        padding-left: 20px;
        overflow: hidden;
        span {
          flex: 3;
          &.ups {
            flex: 1;
            text-align: right;
            &.is_uped {}
          }
        }
      }
    }
    .reply-content {
      margin-top: 10px;
    }
  }
}
</style>