<template>
  <div class="page">
    <header>
      <div class="author">
        <div class="avatar">
          <img :src="detail.avatar_url" alt="头像">
        </div>
        <b>{{ detail.loginname }}</b>
        <a target="_blank" :href="`https://github.com/${detail.githubUsername}`">{{ `${detail.githubUsername}@github.com` }}</a>
        <div class="detail">
          <span>注册时间: {{ detail.create_at | formatDate('yyyy-MM-dd') }}</span>
          <span>积分: {{ detail.score }}</span>
        </div>
      </div>
    </header>
    <section>
      <div class="buttons-tab" :class="{ active: active }">
        <button @click="active = false">最近回复</button>
        <button @click="active = true">最新发布</button>
      </div>
      <div class="tabs" :class="{ active: active }">
        <ul class="tab list">
          <li v-for="(item, index) in detail.recent_replies" :key="index">
            <router-link :to="{name: 'topic', params: {id: item.id}}">
              <div class="avatar">
                <img :src="item.author.avatar_url" alt="头像">
              </div>
              <div class="detail">
                <div class="title">{{item.title}}</div>
                <div class="datetime">
                  <span>{{item.author.loginname}}</span>
                  <span>{{item.last_reply_at | timeAgo}}</span>
                </div>
              </div>
            </router-link>
          </li>
        </ul>
        <ul class="tab list">
          <li v-for="(item, index) in detail.recent_topics" :key="index">
            <router-link :to="{name: 'topic', params: {id: item.id}}">
              <div class="avatar">
                <img :src="item.author.avatar_url" alt="头像">
              </div>
              <div class="detail">
                <div class="title">
                  <i v-if="item.top">置顶</i>
                  <i v-else>{{item.tab | tabCovertToName}}</i>
                  {{item.title}}
                </div>
                <div class="datetime">
                  <span>{{item.author.loginname}}</span>
                  <span>{{item.last_reply_at | timeAgo}}</span>
                </div>
              </div>
            </router-link>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
import { user } from '@/api'

export default {
  data() {
    return {
      active: false,
      detail: {}
    }
  },
  mounted() {
    let _this = this
    this.detail = this.userinfo
    if (this.loginname) {
      user.detail(this.loginname)
        .then(res => {
          if (res.success) {
            _this.detail = res.data
          } else {
            _this.$toast(res.error_msg)
          }
        })
        .catch(err => {
          console.error(err.message)
        })
    } else {
      this.$router.replace({
        name: 'login',
        query: {
          url: encodeURIComponent(_this.$route.fullPath)
        }
      })
    }

  },
  methods: {
  },
  computed: {
    loginname() {
      return this.$route.params.loginname || this.userinfo.loginname
    }
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/style/common/common';
.page {
  background-color: $mainBgColor;
}

header {
  $h: 310px;
  height: $h;
  padding: 0 20px;
  color: $whiteColor;
  background-color: $blackColor;
  text-align: center;
  .author {
    line-height: 45px;
    .avatar {
      $h: 150px;
      width: $h;
      height: $h;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: $h;
        height: $h;
        object-fit: cover;
      }
    }
    b {
      display: block;
      margin-top: 5px;
    }
    a {
      display: block;
      color: darken($whiteColor, 20%);
      text-decoration: underline;
    }
    .detail {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 22px;
    }
  }
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttons-tab {
  position: relative;
  height: 80px;
  display: flex;
  background-color: darken($blackColor, 10%);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: $greenColor;
    transition: transform .3s ease;
  }
  &.active::after {
    transform: translate3d(100%, 0, 0);
  }
  button {
    flex: 1;
    border: none;
    font-size: 22px;
    color: $whiteColor;
    background-color: transparent;
    transition: background-color .3s ease;
    &:active {
      background-color: lighten($blackColor, 1%);
    }
  }
}

.tabs {
  width: 200%;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: transform .3s ease;
  &.active {
    transform: translate3d(-50%, 0, 0);
  }
  .tab {
    width: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
  }
}

.list {
  li {
    @include border();
    &:last-child::after {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      padding: 20px;
      text-decoration: none;
      background-color: $whiteColor;
      transition: background-color .3s ease;
      &:active {
        background-color: darken($whiteColor, 3%);
      }
    }
  }
  .avatar {
    $h: 80px;
    width: $h;
    height: $h;
    border-radius: 50%;
    background-color: darken($whiteColor, 2%);
    overflow: hidden;
    img {
      width: $h;
      height: $h;
    }
  }
  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    .title {
      $h: 60px;
      height: $h;
      line-height: $h/2;
      margin-bottom: 10px;
      font-size: 24px;
      color: $blackColor;
      @include textOverflow(2);
      i {
        font-style: normal;
        font-size: 22px;
        color: $grayColor;
        padding-right: 3px;
      }
    }
    .datetime {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: $grayColor;
    }
  }
}
</style>
