<template>
  <div class="container">
    <header v-show="showHeader">
      <i class="nav-switch" :class="{active: showNav}" @click="showNav = true">=</i>
      <div class="title">
        <slot name="title">CNode社区</slot>
      </div>
    </header>
    <nav :class="{active: showNav}" @click="showNav = false">
      <div class="list">
        <div class="user-info">
          <div class="avatar" @click="login">
            <img :src="userinfo.avatar_url || avatar" alt="头像">
          </div>
          <div class="tips" v-if="!userinfo.loginname">点击头像登录</div>
          <div class="info" v-else>
            <div class="detail">
              <span class="name">drzorm</span>
              <span class="credits">积分:0</span>
            </div>
            <button @click="logout">注销</button>
          </div>
        </div>
        <ul class="menu">
          <li>
            <router-link to="/list/all">
              <i></i>
              <span>全部</span>
            </router-link>
          </li>
          <li>
            <router-link to="/list/good">
              <i></i>
              <span>精华</span>
            </router-link>
          </li>
          <li>
            <router-link to="/list/share">
              <i></i>
              <span>分享</span>
            </router-link>
          </li>
          <li>
            <router-link to="/list/ask">
              <i></i>
              <span>问答</span>
            </router-link>
          </li>
          <li>
            <router-link to="/list/job">
              <i></i>
              <span>招聘</span>
            </router-link>
          </li>
          <li class="division-line">
            <router-link to="/message">
              <i></i>
              <span>消息</span>
            </router-link>
          </li>
          <!-- <li>
            <router-link to="/setting">
              <i></i>
              <span>设置</span>
            </router-link>
          </li> -->
          <li>
            <router-link to="/about">
              <i></i>
              <span>关于</span>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    <section :class="{active: showNav}">
      <slot name="page"></slot>
    </section>
  </div>
</template>

<script>
export default {
  name: 'layout',
  props: {
    showHeader: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      showNav: false, // 菜单展示状态
      avatar: require('@/assets/images/avatar.png')
    }
  },
  mounted() {
    let userinfo = localStorage.getItem('USERINFO')
    if (userinfo) {
      this.userinfo = JSON.parse(userinfo)
    }
  },
  methods: {
    login() {
      if (this.userinfo.loginname) {
        this.$router.push('/user')
      } else {
        this.$router.push('/login')
      }
    },
    logout() {
      this.userinfo = {}
      localStorage.removeItem('USERINFO')
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/style/common/common';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: $whiteColor;
  overflow: hidden;
  &.active {
    pointer-events: none;
  }
}


header {
  $h: 88px;
  position: relative;
  width: 100%;
  height: $h;
  line-height: $h;
  padding-right: 20px;
  color: $whiteColor;
  background-color: $blackColor;
  z-index: 1;
  .nav-switch {
    position: absolute;
    left: 0;
    top: 0;
    width: $h;
    height: $h;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    transition: all .4s ease;
    &:active {
      background-color: lighten($blackColor, 10%);
    }
    &.active {
      transform: rotate(90deg);
    }
  }
  .title {
    display: flex;
    height: $h;
    line-height: $h;
    font-size: 24px;
    margin-left: $h + 10px;
    h1 {
      flex: 1;
      background-color: transparent;
    }
  }
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: all .4s ease;
  z-index: 2;
  &.active {
    transform: translate3d(0, 0, 0);
  }
  .list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 480px;
    background-color: $whiteColor;
    box-shadow: 0px 0 50px 0px #000;
    .user-info {
      min-height: 240px;
      color: $whiteColor;
      background-color: $redColor;
      .avatar {
        margin: 20px;
        img {
          display: block;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
      }
      .tips {
        font-size: 24px;
        margin: 20px;
      }
      .info {
        display: flex;
        margin: 20px;
        .detail {
          flex: 1;
          display: flex;
          flex-direction: column;
          line-height: 30px;
          .name {}
          .credits {
            color: darken($whiteColor, 5%);
            font-size: 16px;
          }
        }
        button {
          width: 100px;
          height: 60px;
          border: none;
          border-radius: 4px;
          color: #fff;
          font-size: 18px;
          background-color: rgba(255, 255, 255, 0);
          transition: background-color .2s ease;
          &:active {
            background-color: rgba(255, 255, 255, .2);
          }
        }
      }
    }
    .menu {
      flex: 1;
      overflow-y: auto;
      padding: 20px 0;
      font-size: 24px;
      li {
        $h: 80px;
        height: $h;
        line-height: $h;
        transition: background-color .2s ease;
        a {
          display: flex;
          align-items: center;
          padding: 0 20px;
          text-decoration: none;
          color: $blackColor;
          &:active,
          &.router-link-active {
            background-color: darken($whiteColor, 5%);
          }
          i {
            display: inline-block;
            width: $h/3;
            height: $h/3;
            vertical-align: middle;
            background-color: $blackColor;
            border-radius: 50%;
          }
          span {
            flex: 1;
            padding-left: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        &.division-line {
          @include border(top);
        }
      }
    }
  }
}
</style>
