<template>
  <layout :showHeader="showHeader" >
    <h1 slot="title">{{title}}</h1>
    <router-view slot="page"></router-view>
  </layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
export default {
  name: 'app',
  data() {
    return {
    }
  },
  mounted() {

  },
  computed: {
    showHeader() {
      return typeof this.$route.meta.showHeader === 'undefind' ? true : this.$route.meta.showHeader
    },
    title() {
      return this.$route.meta.title || 'CNode社区'
    }
  },
  components: {
    Layout
  }
}
</script>

<style lang="sass">
@import './assets/style/base';
</style>

