@charset "UTF-8";

/* variable */

// Colors
$mainBgColor: #f2f2f2;
$whiteColor: #fff;
$blackColor: #2c3e50;
$grayColor: rgb(155, 155, 155);
$yellowColor: #ffbe53;
$redColor: #dc535b;
$greenColor: #0aad9c;
$purpleColor: rgb(171, 51, 131);
$linkColor: #1f4488;
// Paths
$imgPath: '/assets/images';
$stylePath: '/assets/style';

/* mixin */

//dpr字体转换
@mixin rem($font-size) {
  font-size: $font-size / 2;
  [data-dpr="2"] & {
    font-size: $font-size;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3 / 2;
  }
}

// 边框
@mixin border($direction: bottom, $width: 1px, $type: solid, $color: #d6d6d6, $label:after) {
  position: relative;
  &::#{$label} {
    content: '\20';
    display: block;
    position: absolute;
    @if $direction==top {
      border-top: $width $type $color;
      left: 0;
      top: 0;
      width: 100%;
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        & {
          transform: scaleY(0.5);
        }
      }
      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleY(0.33);
        }
      }
    }
    @else if $direction==right {
      border-left: $width $type $color;
      right: 0;
      top: 0;
      height: 100%;
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        & {
          transform: scaleX(0.5);
        }
      }
      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleX(0.33);
        }
      }
    }
    @else if $direction==bottom {
      border-top: $width $type $color;
      left: 0;
      bottom: 0;
      width: 100%;
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        & {
          transform: scaleY(0.5);
        }
      }
      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleY(0.33);
        }
      }
    }
    @else if $direction==left {
      border-left: $width $type $color;
      left: 0;
      top: 0;
      height: 100%;
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        & {
          transform: scaleX(0.5);
        }
      }
      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleX(0.33);
        }
      }
    }
  }
}

//css三角形
@mixin arrow($type: bottom, $width: 5px, $color: #ccc) {
  width: 0;
  height: 0;
  overflow: hidden;
  @if $type==top {
    border-width: $width;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent $color transparent;
  }
  @else if $type==right {
    border-width: $width;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $color;
  }
  @else if $type==bottom {
    border-width: $width;
    border-style: solid dashed dashed dashed;
    border-color: $color transparent transparent transparent;
  }
  @else if $type==left {
    border-width: $width;
    border-style: dashed solid dashed dashed;
    border-color: transparent $color transparent transparent;
  }
}

// 超出...
@mixin textOverflow($line: 1) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%clearfix {
  *zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20";
    clear: both;
    height: 0;
  }
}

%transition {
  transition: all .3s ease;
}