.zoom-in-enter-active {
  transition: transform .2s ease;
}

.zoom-in-leave-active {
  transition: transform .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.zoom-in-enter {
  opacity: 0;
  transform: scale3d(.8, .8, 0);
}

.zoom-in-leave-to {
  transform: translate3d(0, 100%, 0);
}
